body {
    background-color: rgb(235, 227, 207);
}

h1 {
    color: navy;
    text-align: center;
    font-size: 8vw;
    font-family: 'Kanit', sans-serif;
}

div {
    display: flex;
    justify-content: space-evenly;
}

img {
    width: clamp(100px, 20vw, 250px);
}